.taskCard {
  flex-shrink: 0;

  width: 12rem;

  display: grid;
  grid-template-columns: 100%;

  background-color: var(--white);
  border-bottom: 1px solid var(--purple-600);
  padding: 0.5rem 0.5rem 1rem 1rem;

  > button {
    border: none;

    margin-left: auto;

    width: fit-content;

    font-size: 0;

    cursor: pointer;

    color: var(--purple-600);
    background: transparent;

    > svg {
      width: 1.3rem;
      height: 1.3rem;

      fill: var(--purple-600);
    }

    &:hover {
      transform: scale(1.3);
    }
  }

  > p {
    color: var(--gray-800);

    padding-right: 0.5rem;

    word-wrap: break-word;
  }

  &:hover {
    filter: brightness(0.95);
  }
}

@media (max-width: 480px) {
  .taskCard {
    width: 100%;
  }
}
