.taskCard {
	flex-shrink: 0;

	width: 22.85rem;

	// display: flex;
	// flex-direction: column;

	display: grid;
	grid-template-columns: calc(100% - 1rem);

	background-color: var(--white);
	border-bottom: 1px solid var(--gray-200);
	padding: 1rem;

	> button {
		border: none;

		grid-column: 2 / 2;

		background-color: var(--white);
		width: fit-content;
	}

	> p {
		font-size: 1.5rem;
		color: var(--gray-800);

		word-wrap: break-word;
	}
}
