.categoryList {
	display: flex;

	padding: 2.2rem 1.5rem;

	gap: 1rem;

	height: calc(100vh - 3rem);

	> button {
		height: 2rem;
		width: 2rem;

		border: none;

		background: var(--gray-700);

		color: var(--purple-600);

		> svg {
			fill: var(--purple-600);
		}

		&:hover {
			outline: 2px solid var(--purple-600);
			font-weight: bold;
		}
	}

	> ul {
		display: flex;
	}
}
