.taskList {
	width: 100%;
	height: 100%;
	gap: 1rem;

	display: flex;
	flex-direction: column;

	overflow: auto;

	padding: 0 0.5rem;

	&::-webkit-scrollbar {
		width: 5px;
		height: 100%;
		background-color: transparent;
	}

	&::-webkit-scrollbar-thumb {
		background: var(--purple-600);
	}
}
